Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Plugins/SerialCOM_5_UE542/SerialCOM_5_UE542/SerialCOM/Source/SERIALCOM/SERIALCOM.Build.cs
Plugins/SerialCOM_5_UE542/SerialCOM_5_UE542/SerialCOM/Source/SERIALCOM/Public/SERIALCOMModule.h
Plugins/SerialCOM_5_UE542/SerialCOM_5_UE542/SerialCOM/Source/SERIALCOM/Public/SerialCom.h
Plugins/SerialCOM_5_UE542/SerialCOM_5_UE542/SerialCOM/Source/SERIALCOM/Private/SERIALCOMModule.cpp
Plugins/SerialCOM_5_UE542/SerialCOM_5_UE542/SerialCOM/Source/SERIALCOM/Private/SerialCom.cpp
Plugins/SerialCOM_5_UE542/SerialCOM_5_UE542/SerialCOM/SERIALCOM.uplugin
Plugins/SerialCOM_5_UE542/SerialCOM_5_UE542/SerialCOM/Resources/Icon128.png
Plugins/SerialCOM_5_UE542/SerialCOM_5_UE542/SerialCOM/RELEASE_v5.5.4.2.1.txt
Plugins/SerialCOM_5_UE542/SerialCOM_5_UE542/SerialCOM/LICENSE.txt
Plugins/SerialCOM_5_UE542/SerialCOM_5_UE542/SerialCOM/INSTRUCTIONS-PLUGIN.txt
Plugins/SerialCOM_5_UE542/SerialCOM_5_UE542/SerialCOM/Content/UE_BLUEPRINTS/INSTRUCTIONS.txt
Plugins/SerialCOM_5_UE542/SerialCOM_5_UE542/SerialCOM/Content/UE_BLUEPRINTS/BP_SerialCom_v4_UE510.uasset
Plugins/SerialCOM_5_UE542/SerialCOM_5_UE542/SerialCOM/Content/Arduino_Example/Instructions.txt
Plugins/SerialCOM_5_UE542/SerialCOM_5_UE542/SerialCOM/Content/Arduino_Example/BP_Arduino_Comm.uasset
Plugins/SerialCOM_5_UE542/SerialCOM_5_UE542/SerialCOM/Content/Arduino_Example/_Arduino_Example.ino
Plugins/SerialCOM_5_UE542/SerialCOM/Source/SERIALCOM/SERIALCOM.Build.cs
Plugins/SerialCOM_5_UE542/SerialCOM/Source/SERIALCOM/Public/SERIALCOMModule.h
Plugins/SerialCOM_5_UE542/SerialCOM/Source/SERIALCOM/Public/SerialCom.h
Plugins/SerialCOM_5_UE542/SerialCOM/Source/SERIALCOM/Private/SERIALCOMModule.cpp
Plugins/SerialCOM_5_UE542/SerialCOM/Source/SERIALCOM/Private/SerialCom.cpp
Plugins/SerialCOM_5_UE542/SerialCOM/SERIALCOM.uplugin
Plugins/SerialCOM_5_UE542/SerialCOM/Resources/Icon128.png
Plugins/SerialCOM_5_UE542/SerialCOM/RELEASE_v5.5.4.2.1.txt
Plugins/SerialCOM_5_UE542/SerialCOM/LICENSE.txt
Plugins/SerialCOM_5_UE542/SerialCOM/INSTRUCTIONS-PLUGIN.txt
Plugins/SerialCOM_5_UE542/SerialCOM/Content/UE_BLUEPRINTS/INSTRUCTIONS.txt
Plugins/SerialCOM_5_UE542/SerialCOM/Content/UE_BLUEPRINTS/BP_SerialCom_v4_UE510.uasset
Plugins/SerialCOM_5_UE542/SerialCOM/Content/Arduino_Example/Instructions.txt
Plugins/SerialCOM_5_UE542/SerialCOM/Content/Arduino_Example/BP_Arduino_Comm.uasset
Plugins/SerialCOM_5_UE542/SerialCOM/Content/Arduino_Example/_Arduino_Example.ino
Plugins/SerialCOM_5_UE542/SerialCOM_5_UE542/SerialCOM/Source/SERIALCOM/SERIALCOM.Build.cs
Plugins/SerialCOM_5_UE542/SerialCOM_5_UE542/SerialCOM/Source/SERIALCOM/Public/SERIALCOMModule.h
Plugins/SerialCOM_5_UE542/SerialCOM_5_UE542/SerialCOM/Source/SERIALCOM/Public/SerialCom.h
Plugins/SerialCOM_5_UE542/SerialCOM_5_UE542/SerialCOM/Source/SERIALCOM/Private/SERIALCOMModule.cpp
Plugins/SerialCOM_5_UE542/SerialCOM_5_UE542/SerialCOM/Source/SERIALCOM/Private/SerialCom.cpp
Plugins/SerialCOM_5_UE542/SerialCOM_5_UE542/SerialCOM/SERIALCOM.uplugin
Plugins/SerialCOM_5_UE542/SerialCOM_5_UE542/SerialCOM/Resources/Icon128.png
Plugins/SerialCOM_5_UE542/SerialCOM_5_UE542/SerialCOM/RELEASE_v5.5.4.2.1.txt
Plugins/SerialCOM_5_UE542/SerialCOM_5_UE542/SerialCOM/LICENSE.txt
Plugins/SerialCOM_5_UE542/SerialCOM_5_UE542/SerialCOM/INSTRUCTIONS-PLUGIN.txt
Plugins/SerialCOM_5_UE542/SerialCOM_5_UE542/SerialCOM/Content/UE_BLUEPRINTS/INSTRUCTIONS.txt
Plugins/SerialCOM_5_UE542/SerialCOM_5_UE542/SerialCOM/Content/UE_BLUEPRINTS/BP_SerialCom_v4_UE510.uasset
Plugins/SerialCOM_5_UE542/SerialCOM_5_UE542/SerialCOM/Content/Arduino_Example/Instructions.txt
Plugins/SerialCOM_5_UE542/SerialCOM_5_UE542/SerialCOM/Content/Arduino_Example/BP_Arduino_Comm.uasset
Plugins/SerialCOM_5_UE542/SerialCOM_5_UE542/SerialCOM/Content/Arduino_Example/_Arduino_Example.ino
Plugins/SerialCOM_5_UE542/SerialCOM_5_UE542/SerialCOM/Content/Arduino_Example/_Arduino_Example.ino
Plugins/SerialCOM_5_UE542/SerialCOM_5_UE542/SerialCOM/Content/Arduino_Example/BP_Arduino_Comm.uasset
Plugins/SerialCOM_5_UE542/SerialCOM_5_UE542/SerialCOM/Content/Arduino_Example/Instructions.txt
Plugins/SerialCOM_5_UE542/SerialCOM_5_UE542/SerialCOM/Content/UE_BLUEPRINTS/BP_SerialCom_v4_UE510.uasset
Plugins/SerialCOM_5_UE542/SerialCOM_5_UE542/SerialCOM/Content/UE_BLUEPRINTS/INSTRUCTIONS.txt
Plugins/SerialCOM_5_UE542/SerialCOM_5_UE542/SerialCOM/INSTRUCTIONS-PLUGIN.txt
Plugins/SerialCOM_5_UE542/SerialCOM_5_UE542/SerialCOM/LICENSE.txt
Plugins/SerialCOM_5_UE542/SerialCOM_5_UE542/SerialCOM/RELEASE_v5.5.4.2.1.txt
Plugins/SerialCOM_5_UE542/SerialCOM_5_UE542/SerialCOM/Resources/Icon128.png
Plugins/SerialCOM_5_UE542/SerialCOM_5_UE542/SerialCOM/SERIALCOM.uplugin
Plugins/SerialCOM_5_UE542/SerialCOM_5_UE542/SerialCOM/Source/SERIALCOM/Private/SerialCom.cpp
Plugins/SerialCOM_5_UE542/SerialCOM_5_UE542/SerialCOM/Source/SERIALCOM/Private/SERIALCOMModule.cpp
Plugins/SerialCOM_5_UE542/SerialCOM_5_UE542/SerialCOM/Source/SERIALCOM/Public/SerialCom.h
Plugins/SerialCOM_5_UE542/SerialCOM_5_UE542/SerialCOM/Source/SERIALCOM/Public/SERIALCOMModule.h
Plugins/SerialCOM_5_UE542/SerialCOM_5_UE542/SerialCOM/Source/SERIALCOM/SERIALCOM.Build.cs
